*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #e3e3e3;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #ff6600;
  }
  ::-webkit-scrollbar-track {
    background: #eff0f5;
    border-radius: 53px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #eff0f5;
  }
  ::-webkit-scrollbar-track:active {
    background: #e3e3e3;
  }
  ::-webkit-scrollbar-corner {
    background: #e3e3e3;
  }



body{
    background-color: rgb(224, 134, 224);
    
    
}

#container{
    background-color: rgba(255, 255, 255, 0.5);
    height: 400px;
    width: 500px;
    /* min-width: 300px; */
    text-align: center;
    margin: 150px 00px 150px 400px;

}

#btn{
    margin: 50px;
    height: 50px;
    width: 250px;
    font-size: 23px;
    background-color: aquamarine;
}

#output{
    margin: 25px;
    color: grey;
    font-size: 25px;
}



@media (min-width: 320px) and (max-width: 430px) {
    body{
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        
    }


    #container{
        overflow: hidden;
        text-align: center;
        width: 80vw;
        height: 450px;
        margin: 80px 35px;
       

    }

    #btn{
        margin: 30px;
        width: 200px;
    }

    #output{
        margin: 20px;
    }
    
}

@media screen and (max-width: 770px) {
    #container{
        margin: 100px 120px;
    }
}
















